<nav class="navbar">
  <ul class="navbar-nav">
    <div class="list-group">
      <a class="list-group-item link-text" href="home"
        ><i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i
      ></a>
        <a class="list-group-item link-text" href="movies"
        ><i class="fa fa-television fa-fw fa-2x" aria-hidden="true"></i
      ></a>
      <a class="list-group-item link-text" href="resume"
        ><i class="fa fa-film fa-fw fa-2x" aria-hidden="true"></i
      ></a>

      <a class="list-group-item-bottom link-text" href="settings"
        ><i class="fa fa-cog fa-fw fa-2x" aria-hidden="true"></i
      ></a>
    </div>
  </ul>
</nav>
