<div class="title_wrapper">
  <h1 class="title">MarvelFlix</h1>
</div>
<div
  class="card-container"
  style="display: flex; flex-direction: row; width: 100vw; margin-left: 5rem"
>
  <div #scrollMe class="card-list" style="flex: 1">
    <ng-container class="card-container">
      <div class="button-wrap">
        <button (click)="scrollRight()" class="scroll_right_btn">
          <i class="fas fa-angle-double-left" id="scroll_right"></i>
        </button>
        <button (click)="scrollLeft()" class="scroll_left_btn">
          <i class="fas fa-angle-double-right" scroll_left></i>
        </button>
      </div>
      <article class="card" *ngFor="let m of movieService.movies$ | async">
        <header class="card-header">
          <div (click)="openDialog(m)" class="card-header">
            <!-- <h2 mat-dialog-title>{{ m.title }}</h2> -->
            <img src="{{ m.cover_url }}" />
            <p>Release Date: {{ m.release_date }}</p>
            <p>Box Office: ${{ m.box_office | number }}</p>
            <p>Timeline Order: {{ m.chronology }}</p>
            <p>Directed by: {{ m.directed_by }}</p>

          </div>
          <button  class="dialog-box" mat-button (click)="openDialog(m)">
            Movie Summary
          </button>
        </header>
      </article>
    </ng-container>
  </div>
