<div class="body">
<div class="left_panel">
<div class="contact"><div class="contact_title">Contact Info</div>
  <div class="contact_info">
    <div>{{contact.address}}</div>
    <br>
    <div class="email_wrapper">
      <div class="email" *ngFor="let email of contact.email">{{email}}</div>
    </div>
    <br>

    <div class="linkedin_title"> Linkedin
    </div>
    <div><a href="{{contact.linkedin}}" target="_blank">{{contact.linkedin}}</a></div>
    <br>
    <div class="phone_number_wrapper">Phone
    </div>
    <div class="phone_number" *ngFor="let number of contact.phoneNumber">{{number}}</div>
  </div>
</div>
<br>
<div class="skills" >Skills
  <div *ngFor="let skills of attributes.skills" class="attributes">
    <div>{{skills}}</div>
  </div>
</div>
<br>
<div class="skills_wrapper">
  <div class="languages ">Languages
    <div class="attributes" *ngFor=" let language of attributes.languages">{{language}}</div>
  </div>
  <br>
  <div  class="libraries">Libraries
    <div class="attributes" *ngFor="let libraries of attributes.libraries">{{libraries}}</div>
  </div>
  <br>
    <div  class="repositories">Repositories
    <div class="attributes" *ngFor="let repositories of attributes.repositories">{{repositories}}</div>
  </div>
</div>

</div>
<div class="main_content">
  <div class="name_wrapper">
    <div class="name">REGINALD BROWN</div>
  </div>
  <div class="title">MEAN STACK DEVELOPER</div>



  <div class="summary_title">PROFESSIONAL SUMMARY</div>

  <div class="professional_summary">Mr. Brown is a Professional MEAN Stack Developer and Cloud Engineer with 2+ years in Software Development and Cloud Engineering. Also, 5+ years of networking experience. As an analytical thinker and avid learner, I am currently Seeking a growth and development opportunity that allows me to be a part of a forward-thinking team that I can grow and evolve with. My networking background gives me the ability to diagnose, troubleshoot and find solutions to a wide array of problems.</div>

  <div class="work_experience_title">WORK EXPERIENCE</div>

  <div class="workHistory">
    Front End Developer <br>
    Agape Coders LLC, Montgomery Village, MD
    01/2020–Current<br>
    <br>
    Responsibilities:<br>
    •	Conduct Human-Centric-Design (HCD) sessions with clients to gather application requirements.<br>
    •	Participate in Daily stand-up meetings to converse about project development tasks.<br>
    •	Participate in project demos with clients.<br>
    •	Update architecture and enhance features utilizing reactive programming libraries such as RXJS.<br>
    •	Using Data Transfer Objects (DTO) in Angular applications to give fluidity between the front-end and backend data structure<br>
    •	Create Frontend interface objects from backend swagger.<br>
    •	Conduct API test using tools like Postman and Insomnia<br>
    •	Assist in maintaining code in repositories such as Git and AWS Code Commit<br>
    •	Build, Ship, Deploy and Scale applications using containers with platforms such as Docker, Kubernetes and Terraform.<br><br><br>


  Services Technician<br>
  Verizon
  07/2017–01/2020<br>
  •	Installed new equipment and explained operation and routine maintenance protocols to customers.<br>
  •	Explained diagnostic findings to customers and outlined repairs or service options.<br>
  •	Serviced fiber optic equipment for expedient repairs and minimal downtime.<br>
  •	Installed, configured, and supported Local Area Networks (LAN), Wide Area Networks (WAN) and other network devices.<br>
  •	Resolved technical issues through troubleshooting.<br>
  •	Tested fiber optic cables and documented results per company protocol.<br>
  •	Maintained networks using Ethernet, fiber optic, and copper cables to provide customers with reliable services.<br>
</div>


  <div class="education">EDUCATION</div>
  <br>
    Cloud DevOps Training - Level Up in Tech<br>

    High School Diploma - Crowley High School <br>
    Crowley, Texas
  </div>
  </div>
