/* You can add global styles to this file, and also import other style files */


:root {
    font-size: 16px;
    font-family:sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    margin:0px;
    background-color: #17141d;
    /* overflow-x: hidden; */


}

.card-flex{
    display: flex;
    flex-direction: row;
}

html {
    scroll-behavior: smooth;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
